<?xml version="1.0"?>
<config>
	<modules>
		<Ccc_Practice3>
			<version>0.0.1</version>
		</Ccc_Practice3>
	</modules>
	<admin>
		<routers>
			<practice3>
				<use>admin</use>
				<args>
					<module>Ccc_Practice3</module>
					<frontName>practice3</frontName>
				</args>
			</practice3>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<ccc_practice3>
				<title>Practice3</title>
				<sort_order>601</sort_order>
				<children>
					<practice3>
						<title>Manage Practice3</title>
						<sort_order>0</sort_order>
						<action>practice3/adminhtml_practice3</action>
					</practice3>
				</children>
			</ccc_practice3>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow everything</title>
				</all>
				<admin>
					<children>
						<ccc_practice3>
							<title>Manage Practice3</title>
							<sort_order>0</sort_order>
						</ccc_practice3>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<ccc_practice3>
					<file>practice3.xml</file>
				</ccc_practice3>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<blocks>
			<ccc_practice3>
				<class>Ccc_Practice3_Block</class>
			</ccc_practice3>
		</blocks>
		<models>
			<ccc_practice3>
				<class>Ccc_Practice3_Model</class>
				<resourceModel>ccc_practice3_resource</resourceModel>
			</ccc_practice3>
			<ccc_practice3_resource>
				<class>Ccc_Practice3_Model_Resource</class>
				<entities>
					<practice3>
						<table>ccc_practice3</table>
					</practice3>
				</entities>
			</ccc_practice3_resource>
		</models>
		<resources>
			<practice3_setup>
				<setup>
					<module>Ccc_Practice3</module>
				</setup>
			</practice3_setup>
		</resources>
		<helpers>
			<ccc_practice3>
				<class>Ccc_Practice3_Helper</class>
			</ccc_practice3>
		</helpers>
	</global>
</config>