<?xml version="1.0"?>
<config>
	<modules>
		<Ccc_Salesman>
			<version>0.0.3</version>
		</Ccc_Salesman>
	</modules>
	<admin>
		<routers>
			<salesman>
				<use>admin</use>
				<args>
					<module>Ccc_Salesman</module>
					<frontName>salesman</frontName>
				</args>
			</salesman>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<salesman>
				<title>Salesman</title>
				<sort_order>101</sort_order>
				<children>
					<salesman>
						<title>Manage Salesman</title>
						<sort_order>100</sort_order>
						<action>salesman/adminhtml_salesman</action>
					</salesman>
					<salesman_attribute>
						<title>Manage Attribute</title>
						<sort_order>100</sort_order>
						<action>salesman/adminhtml_salesman_attribute</action>
					</salesman_attribute>
					<salesman_set>
						<title>Manage Attribute Set</title>
						<sort_order>100</sort_order>
						<action>salesman/adminhtml_salesman_set</action>
					</salesman_set>
				</children>
			</salesman>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<salesman>
							<title>Salesman</title>
							<sort_order>100</sort_order>
							<children>
								<alert>
									<title>Manage Salesman</title>
								</alert>
								<alert>
									<title>Manage Attribute</title>
								</alert>
								<alert>
									<title>Manage Attribute Set</title>
								</alert>
							</children>
						</salesman>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<salesman>
					<file>salesman.xml</file>
				</salesman>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<blocks>
			<salesman>
				<class>Ccc_Salesman_Block</class>
			</salesman>
		</blocks>
		<models>
			<salesman>
				<class>Ccc_Salesman_Model</class>
				<resourceModel>ccc_salesman_resource</resourceModel>
			</salesman>
			<ccc_salesman_resource>
				<class>Ccc_Salesman_Model_Resource</class>
				<entities>
					<salesman>
						<table>salesman</table>
					</salesman>
					<salesman_datetime>
						<table>salesman_datetime</table>
					</salesman_datetime>
					<salesman_decimal>
						<table>salesman_decimal</table>
					</salesman_decimal>
					<salesman_int>
						<table>slaesman_int</table>
					</salesman_int>
					<salesman_text>
						<table>salesman_text</table>
					</salesman_text>
					<salesman_varchar>
						<table>salesman_varchar</table>
					</salesman_varchar>
					<salesman_char>
						<table>salesman_char</table>
					</salesman_char>
					<eav_attribute>
						<table>salesman_eav_attribute</table>
					</eav_attribute>
				</entities>
			</ccc_salesman_resource>
		</models>
		<resources>
			<salesman_setup>
				<setup>
					<module>Ccc_Salesman</module>
					<class>Ccc_Salesman_Model_Resource_Setup</class>
				</setup>
			</salesman_setup>
		</resources>
		<helpers>
			<salesman>
				<class>Ccc_Salesman_Helper</class>
			</salesman>
		</helpers>
	</global>
</config>